<p id="notice"><%= notice %></p>

<p>
  <strong>Yuji1510@gmail.com:</strong>
  <%= @yuji_mishima.yuji1510@gmail.com %>
</p>

<%= link_to 'Edit', edit_yuji_mishima_path(@yuji_mishima) %> |
<%= link_to 'Back', yuji_mishimas_path %>
